@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 44, 62, 63;
  --background-start-rgb: 248, 248, 236;
  --background-end-rgb: 210, 219, 200;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

.brush {
  font-family: var(--font-comforter-brush), cursive !important;
}

.font-sans {
  font-family: var(--font-alegreya-sans), sans-serif;
}